$chat-window-width: 70%;
$chat-window-background: #f5f5f5;

.chat-app {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: rgb(167, 167, 212);

  .users-list {
    width: 30%;
    height: 100vh;
    background-color: #eee;
    padding: 1rem;
    overflow-y: auto;

    // .user-item {
    //   padding: 0.5rem 1rem;
    //   cursor: pointer;
    //   border-bottom: 1px solid #ddd;

    //   &:hover {
    //     background-color: #ddd;
    //   }
    // }
  }

  .chat-window {
    width: $chat-window-width;
    background-color: $chat-window-background;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100vh;

    // .chat-messages {
    //   flex: 1;
    //   overflow-y: auto;

    //   .message {
    //     margin-bottom: 1rem;
    //     padding: 0.5rem 1rem;
    //     border-radius: 5px;

    //     &.sent-by-me {
    //       background-color: #ddd;
    //       align-self: flex-end;
    //     }

    //     &.sent-by-other {
    //       background-color: #fff;
    //       align-self: flex-start;
    //     }
    //   }
    // }
  }
}
